@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Cormorant+Garamond&family=Lato:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Added this to overwrite the ugly input autocomplete on form*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
input:-internal-autofill-selected,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #212227;
  -webkit-text-fill-color: #212227;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #212227;
  background-color: transparent;
  --tw-ring-offset-color: transparent;
}
* {
  scroll-behavior: smooth;
}
body.no-scroll {
  overflow: hidden;
}
.bg-Silver {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #ffffff 0%,
      #a7a7a7 8%,
      #808080 30%,
      #6c6c6c 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #d1d0d0 8%,
      #ababab 25%,
      #323232 62.5%,
      #202020 100%
    );
}
.bg-Gold {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
.bg-Khaki {
  background: #505344;
}
.bg-Blue {
  background: #2c5887;
}
.bg-Pink {
  background: #e4abb3;
}
.bg-Teal {
  background: #a0b2a6;
}
.bg-Mustard {
  background: #fbc53e;
}
.bg-White {
  background: #ffffff;
}
.bg-Off-White {
  background: #fffae9;
}
.bg-Black {
  background: #000000;
}
.bg-Blue-Grey {
  background: #616c79;
}
.bg-Jungle-Green {
  background: #37595d;
}
.bg-Raspberry {
  background: #8d2a31;
}
.bg-Bright-Red {
  background: #f64618;
}
.bg-Beige {
  background: #b6a294;
}
